.sidebar-profile-cont {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;

  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 5;
  right: 0px;
  background: rgba(18, 17, 17, 0.8);
}
.edit-icon-cont {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  justify-content: center;
  border: 1px solid #eee;
  align-items: center;
  transition: 2s all ease;
  background-color: white;
  margin-left: 5px;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
}
.sidebar-profile-input-bar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-direction: column;
  width: 100%;
}
.sidebar-profile-inner {
  width: 10%;
  position: absolute;
  height: 100vh;
  background-color: white;
  transition: all 10s ease;
  margin-left: auto;
  right: 0;
  bottom: 0;
  top: 0;
}

.sidebar-profile-innerslided {
  width: 30%;
  transition: all 10s ease;
  position: absolute;
  height: 100vh;
  background-color: white;
  margin-left: auto;
  right: 0;
  bottom: 0;
  top: 0;
}
.sidebar-input-bars {
  height: 25px;
  border-radius: 5px;
  border: 0px;

  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sidebar-top-dets {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.sidebar-acounttype-dets {
  width: 50px;
  height: 20px;
  border-radius: 15px;
  background-color: rgb(122, 122, 243);
  color: white;
  display: flex;
  margin-right: 5px;

  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 13px;
}
.sidebar-top-dets-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: 40px;
}
.sidebar-first-second-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 350px;
}
.sidebar-profile-input-bar > input {
  height: 25px;
  border-radius: 5px;
  border: 0px;
  margin-top: 30px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
