.topics-cont{
    display: flex;
    flex-direction: column;
    margin: 0;
    flex:0.75;
    background-color:  rgb(208, 226, 235) ;
    height: 100vh;
    overflow: hidden;
}
.topics-cont-inner{
    margin: auto;
    display: flex;
    height: 100%;
    width: 20px;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}