.topics-cont{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color:  white ;
    height: 100vh;
    
}
.topics-cont-inner{
   
    display: flex;
    height: 100%;
    width: 20px;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}
.apps-cont{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 20px;



}
.app-cont{
   border-color:'gray';
    border:1px solid #eee;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    flex-direction: row;
    width: 200px;
    margin: 10px;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
  

}
.app-inner-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}
.add-rmv-btn{
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    width:90px;
    color:white;
    height:32px;
    background-color: rgb(122, 122, 243);
    border: 0;


}
.description-cont{
    font-size: 15px;
    font-family: monospace;
}