.sidebar{
    display:flex;
    flex-direction: column;
    flex:0.25;
    height:100vh;
    transition: all 0.4s ease;
   

    background: color #2f3135;

}
.expand-icon{
    cursor:pointer;
}
.sidebarslided{
    display:flex;
    flex-direction: column;
    flex:0.06;
    height:100vh;
    transition: all 0.4s ease;
    background: color #2f3135;

}
.sidebar__top2{
    display:flex
;flex-direction: row;
width: 100%;

justify-content: center;
align-items:center;}
.sidebar__top{
    
   
    display:flex;

  
   
    justify-content: center;
    align-items:center;
   width: 100%;
    background-color:white;
    color:#2f3135;
    border-bottom: 3px solid #26282c;
    
    
    


}
.menu-icon-hme{
    

display: flex;
align-content: center;
justify-content: center;
    margin: auto;

}
.text{
    cursor:pointer;
     transition: all 0.4s ease-out;
    
}

.textslided{
 transition: all 0.4s ease-in;
    display: none;
}
.sidebarcontent_hashcolor{
    color: white;
    font-size: 15px;
}
.sidebar_header{
    display:flex;
    align-items: center;
}
.sidebar_content{
    background-color:#2f3135;
    flex:1;

}
.sidebar_add{
    color:gray;
    cursor: pointer;

}

.sidebar_contentHeader{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    background-color:#2f3135;
    color:white;

}.sidebar_infoicon{
    color: wheat;
}
.sidebar_infoicons> .MuiSvgIcon-root{
    padding: 10px;

}
.sidebar_profile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(85, 85, 85);
    padding:10px;
    

}
.sidebar_add:hover{
    color:white;
}
.sidebar_contentList{

flex: 1;
    
    transition: all 0.4s ease;
   
}
.sidebar_contentListlowered{
    flex: 1;
     height: 100%;
    margin-top: -10px;
    transition: all 0.4s ease;

}
.sidebar_info{
    display:flex;
    justify-content: center;
    align-items: center;
    color:gray;
    background-color: #2f3135;
    padding:10px;
    border-top: 1px solid gray;
}
.sidebar_contentinfo{
    flex:1;
    padding:10px;
}


.sidaber_profileinfo>p{
    font-size: smaller;
    margin-top: -20px;
}
.sidaber_profileinfo{
    flex:1;
    padding:10px;

}
.sidebar_profileinfoicons>.MuiSvgIcon-root{
    padding: 10px;

}
@media screen and (max-width:768px) {
    .sidebar{
        display: none;
    }
}
.nameslided{
    display: none;
    transition: all 4s ease;
    
}
.name{
    margin-left: 10px;
letter-spacing:3px;

    transition: all 4s ease;
}
.closebtns2slided{
    display: none;
    transition: all 4s ease;
}
.closebtns2{
    font-size: 13px;
    transition: all 4s ease;
}
.menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width:100%;
}
