.sidebarcontent_hash:hover{
  
    width: 80%;
    border-radius: 10px;
    background-color: #40464b;
}

.sidebarcontent>h4{
    display: flex;
    padding-left: 15px;
    align-items:center;
    background-color:#2f3135;
    color:gray;
    cursor: pointer;


}
.sidebarcontent{
    overflow-x: hidden;
}
.sidebarcontent_hash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   

}
.sidebarcontent_hash>p,.sidebarcontent_hashcolor>p{
    margin-left: 10px;
}

.sidebarcontent_hashcolor{
    background-color: #40464b;
    font-size: 22px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    color: white;
    
}