.sidebarcontent_hash:hover{
  
    width: 80%;
    border-radius: 10px;
    background-color: #40464b;
}

.sidebarcontent>h4{
    display: flex;
    padding-left: 15px;
    align-items:center;
    background-color:#2f3135;
    color:gray;
    cursor: pointer;


}
.side-icons{
    display:flex;
    flex-direction:row;
    width:70%;
    justify-content:flex-start;
    align-items:center;
    
}

.sidebarcontent{
overflow-y: scroll ;
height: 80%;
}

.sidebarcontent_hash{
    display: flex;
    width: 80%;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   


}
.text2{
    margin-left:10px;
    transition: all 0.4s ease;

}
.text2slided{
    display: none;
    transition: all 0.4s ease;
}
.sidebarcontent_hash>p,.sidebarcontent_hashcolor>p{
    margin-left: 10px;
}

.sidebarcontent_hashcolor{
    
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: rgb(13, 92, 128);
    
}
