.login-cont{
    margin-bottom:40px;
    

}
.papperStyle{
    padding:20px;
    height:50vh;
    width:350px;
    margin:auto;
    margin-top:50px;
}

@media screen and (max-width: 768px){
.papperStyle{
    width:200px

}
}
.customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin-left: 62px;
  }
.customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('../../public/assets/google.svg') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
