.content{
    display: flex;
    flex-direction:column;
    flex:0.75;
    height:100vh;
    background-color:white
    

}
.content-btns{
    display: flex;
flex-direction: row;
margin: auto;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
background-color:  rgb(208, 226, 235) ;
}
.ask-qstn{
    height: 50px;
    border: none;
    box-shadow: 0px 0px 2.2px 1.4px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 20%;
    justify-content: space-evenly;
    cursor: pointer;

}
.join-mtng{
    cursor: pointer;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    margin-right: 10px;
    border: none;
    background-color:  rgb(13, 92, 128) ;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  
      color: white;
    border-radius: 5px;

}
.join-space{
    border: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  rgb(13, 92, 128) ;
    color: white;
    align-items: center;
    width: 20%;
    box-shadow: #2f3135 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    cursor: pointer;

}
.dash-points{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.dash-engage-points>p,.dash-quiz-points>p{
    margin-left: 5px;
    font-size: 13px;
}
.dash-score-title{
    font-size: 13px;
    
}

.dash-score-factors{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.dash-quiz-points{
    
border-right: 5px solid rgb(13, 128, 13) ;
}
.dash-engage-points{
    border-right: 5px solid rgb(13, 92, 128) ;

}
.dash-quiz-points,.dash-engage-points{
    display: flex;
    flex-direction: row;
    height: 50px;
width: 120px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
display: flex;
align-items: center;
border-radius: 10px;
justify-content: center;

}
.dash-score-box1{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}
.dash-points-overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom-btns{
        display: flex;
        height: 300px;
        width: 100%;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width:768px) {
    .content{
        flex: 1;
    }
    .join-mtng,.ask-qstn{
        width: 100px;
        flex-direction: column;
        height: 100px;
        margin-top: 10px;

    }
    .join-space{
        width: 200px;

    }
    .content-btns{
        
    };
    
}