.page-404-cont{
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 100vh;
}
.page-404-cont-inner{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.img404{
    width: 70px;
    height: 70px;
    margin: auto;

}
.footer-404{
    margin: auto;
}