.account_bar{
    position:absolute;
    top:50px;
    padding: 2rem;
    right:90px;
    
    
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
    width: 200px;
    
    
    
    
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    
    color: #011627;
    }
    .dash_accounts{
        background-color:rgb(194, 190, 190);
        height: 0.5px;
        width: 100%;

    }

    .settings_bar{
        display: flex;
        justify-content: flex-start;
        
    }
.account_type{
    height: 30px;
    background-color: rgb(214, 209, 209);
    width: 100%;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.account_settings>p{
 margin-right: 5px;
}
.account_settings{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
    width: 100%;
    justify-content: flex-end;

}
.account_type>p{
    font-size: 14px;
    color: black;
    margin-right: 4px;
    color:red;
}

.account_type>h4{
    margin-left: 4px;
}
.settings_bar>p{
    font-size: 17px;
    margin: auto;
    justify-content: flex-start;
}